
<footer>
    <div class="container bg-light">
        <div class="row"><br><br>
            
            <div class="col-12-lg address-bar">
                <p>
                    Perryman & Keglovits Foundation<br>  PO Box 274 <br> East Stroudsburg, PA 18301
                </p> <br>
                <div>
                    <p>Contact Rich Laverdure
                        <a href="tel:570-460-5156"><span class="fas fa-phone">(570)460-5156 </span></a>
                    </p>
                </div>
                
            </div>         
                
            <h6 text-dark>All rights reserved &copy;2020</h6>
        </div>
    </div>
</footer><!--end of Footer-->
